.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #22336f;
  height: 56px;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header a {
  color: #333;
  margin-right: 20px;
}

.header a:hover {
  color: #fff;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}

.nav_bar {
  margin-right: 38px;
  margin-bottom: 0;
  padding: 3px 0 4px 0;
  display: inline-block;
  position: relative;
  z-index: 99;
}
.nav_bar::before {
  content: '';
  position: absolute;
  width: 200%;
  height: calc(100% + 0px);
  right: -38px;
  bottom: 0;
  background: #fff;
  transform: skewX(24deg) perspective(1200px);
  -webkit-transform: skewX(24deg) perspective(1200px);
  border-radius: 0 28px 0 0;
}

.sports_logo {
  border-radius: 0px 160px 0px 0px;
  margin: 0px 0px 0px -20px;
  padding: 3px 16px 3px 20px;
  position: relative;
  background: #fff;
  height: 50px;
  width: 200px;
}
.wologo {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .sports_logo {
    margin: auto;
    width: 200px;
    height: 35px;
  }
  .nav_bar::before {
    right: -22px;
    transform: skewX(20deg) perspective(1200px) !important;
    -webkit-transform: skewX(20deg) perspective(1200px) !important;
    border-radius: 0 18px 0 0;
  }
  .nav_bar {
    margin-right: 24px;
    padding: 3px 4px 3px 16px;
  }
  .sports_logo {
    border-radius: 0px 2px 0px 0px;
    padding: 0;
    width: 100%;
  }
  .header {
    height: 55px;
  }

  .header a {
    margin-right: 0;
    padding: 10px;
  }

  .wologo {
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .sports_logo {
    margin: auto;
    width: 200px;
    height: 30px;
  }
  .header {
    height: 48px;
  }
  .nav_bar {
    margin: -6px 34px 0 10px;
    padding: 3px 4px 3px 6px;
  }
  .header .logo {
    border-radius: 0px 100px 0px 0px;
    padding: 3px;
    margin-left: -30px;
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;
    width: 140px;
  }

  .sports_logo {
    border-radius: 0px 2px 0px 0px;
    padding: 0;
    width: 100%;
  }

  .wologo {
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .header {
    height: 45px;
    padding: 0 20px;
  }
  .header .logo {
    border-radius: 0px 100px 0px 0px;
    padding: 3px;
    margin-left: -30px;
    padding-left: 0px;
    padding-right: 10px;
    height: 50px;
    width: 160px;
  }

  .sports_logo {
    margin: auto;
    width: 100px;
    height: 28px;
  }
}

@media (max-width: 320px) {
  .header {
    height: 47px;
    padding: 0 20px;
  }
}
