.all {
  font-family: 'IBM Plex Sans', sans-serif;
}

.imageContainer {
  width: 320px;
  height: 220px;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
  position: relative;
  padding: 16px;
  overflow: hidden;
}

.myImg {
  height: 100%;
  background: center center/cover no-repeat #f4f4f5;
  clip-path: polygon(0% 0%, 100% 1%, 100% 80%, 83% 100%, 0% 100%);
  transition: transform 0.2s;
}

.a {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.cardUpper {
  margin-bottom: 50px;
  min-height: 115px;
}

.myImg:hover {
  transform: scale(1.05);
}

.flexcontain {
  display: flex;
  justify-content: space-between;
}

.desc {
  text-align: justify;
  height: 3.3em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-box-orient: vertical;
  margin-top: 2px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #525252;
  text-align: left;
}

.leftside {
  display: inline;
  text-align: start;
}

.sportinfo {
  color: #2990f8;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 500;
}

.monthclass {
  margin-left: 10px;
  color: #a3a3a3;
  font-size: 14px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.leftcount {
  display: inline;
  color: #a3a3a3;
  font-size: 14px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.leftcount span {
  margin: 0 10px;
}

.myLink {
  font-family: 'Muli';
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  text-align: justify;
  color: black;
  transition: 0.3s;
}

.myLink:hover {
  color: red;
}

/*New Card Css*/
.cardMain {
  margin-bottom: 24px;
  padding: 16px;
  background: #fff;
  border-radius: 4px;
}

.ImageMainPart {
  width: 280px;
  height: 181px;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
  position: relative;
}

.Image {
  height: 100%;
  background: center center/cover no-repeat #f4f4f5;
  transition: all 0.3s ease-in-out;
}

.fullblock_link {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.RightDesc {
  width: calc(100% - 280px);
  padding: 0 0 16px 16px;
  position: relative;
}

.myLinkNew {
  margin: 0 0 4px;
  font-size: 20px;
  line-height: 25px;
  color: #292929;
  font-family: Muli, sans-serif;
  font-weight: 700;
}

.LastLine {
  padding-left: 16px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.LastLine p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #a3a3a3;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 500;
}

/*new Card css end*/
@media (max-width: 2560px) {
  .cardUpper {
    margin-bottom: 10px;
    min-height: 155px;
  }
}
@media (max-width: 1024px) {
  .cardUpper {
    margin-bottom: 10px;
    min-height: 155px;
  }
}
@media (max-width: 947px) {
}

@media (max-width: 881px) {
}

@media (max-width: 852px) {
}

@media (max-width: 768px) {
  .imageContainer {
    width: 260px;
    height: 212px;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    position: relative;
    padding: 16px;
    overflow: hidden;
  }
  .leftcount span {
    margin: 0 8px;
  }
  .sportinfo {
    font-size: 14px;
  }

  .myLink {
    font-size: 18px;
    line-height: 16px;
  }
  .desc {
    font-size: 14px;
    line-height: 24px;
    height: 5.2em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-align: left;
  }
  .cardUpper {
    margin-bottom: 10px;
    min-height: 150px;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 540px) {
}

@media (max-width: 425px) {
  .imageContainer {
    width: 395px;
    height: 212px;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    position: relative;
    padding: 16px;
    overflow: hidden;
  }

  .myImg {
    clip-path: polygon(0% 0%, 100% 1%, 100% 75%, 87% 100%, 0% 100%);
  }
  .cardUpper {
    margin-top: -15px;
    margin-bottom: 4px;
    min-height: 115px;
  }

  .myLink {
    font-size: 17px;
    line-height: 16px;
  }

  .desc {
    font-size: 14px;
    line-height: 20px;
    font-size: 13px;
    height: 4.5em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-align: left;
  }
  .sportinfo {
    font-size: 14px;
    font-weight: 500;
  }
  .monthclass {
    margin-left: 5px;
    color: #a3a3a3;
    font-size: 14px;
  }

  .leftcount {
    font-size: 14px;
    margin: 2px 0 0 0;
  }
  .leftcount span {
    margin: 0 6px;
  }
}

@media (max-width: 375px) {
  .imageContainer {
    width: 345px;
    height: 212px;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    position: relative;
    padding: 16px;
    overflow: hidden;
  }
  .myLink {
    font-size: 17px;
    line-height: 16px;
  }

  .img {
    object-fit: contain;
  }

  .desc {
    font-size: 14px;
    line-height: 20px;
    font-size: 13px;
    height: 4.5em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-align: left;
  }

  .cardUpper {
    margin-top: -15px;
    margin-bottom: 4px;
    min-height: 115px;
  }
  .sportinfo {
    font-size: 14px;
    font-weight: 500;
  }
  .monthclass {
    margin-left: 5px;
    color: #a3a3a3;
    font-size: 14px;
  }

  .leftcount {
    font-size: 14px;
    margin: 2px 0 0 0;
  }
  .leftcount span {
    margin: 0 4px;
  }
}

@media (max-width: 320px) {
  .myLink {
    line-height: 16px;
  }
  .imageContainer {
    width: 290px;
    height: 220px;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    position: relative;
    padding: 16px;
    overflow: hidden;
  }

  .desc {
    height: 6.3em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    text-align: left;
  }

  .img {
    object-fit: cover;
  }
  .cardUpper {
    margin-top: -20px;
    margin-bottom: 10px;
    min-height: 150px;
  }
  .sportinfo {
    font-size: 14px;
    font-weight: 500;
  }
  .monthclass {
    margin-left: 5px;
    color: #a3a3a3;
    font-size: 14px;
  }

  .leftcount {
    font-size: 14px;
    margin: 2px 0 0 0;
    padding: 0;
  }
  .leftcount span {
    margin: 0 4px;
  }
}
