.container {
  margin: 0px auto;
  max-width: 960px;
  padding: 60px 15px;
}

.main {
  background-color: #f4f4f5;
  padding: 20px 0;
}

.myBtn {
  font-family: 'Muli';
  background-color: #ed1a33;
  color: white;
  font-weight: 800;
  text-transform: capitalize;
  text-align: left;
  border: none;
  padding: 12px;
  border-radius: 5px;
  position: relative;
}

.red_loader {
  background-color: #f4f4f5;
}
.red_loader span {
  margin: 0 auto;
  width: 56px;
  height: 56px;
  display: block;
  background: url(https://www.sports.info/small-loader-icon.42282aab78443f33b32b.svg)
    center center no-repeat;
  position: relative;
}
.red_loader span::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  border: 3px solid #ffffff;
  border-top-color: #ed1a33;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.theme_btn {
  display: inline-block;
  padding: 12px 60px 12px 16px;
  background: #ed1a33;
  font-size: 16px;
  line-height: 20px;
  color: #fff !important;
  font-family: Muli, sans-serif;
  font-weight: 800;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  border-radius: 4px;
  position: relative;
}

.theme_btn:hover span:before {
  left: 0;
  top: 0;
}

.theme_btn:focus,
.theme_btn:hover {
  background: #ed1a33;
  color: #fff;
  box-shadow: 0 2px 8px rgb(208 16 39 / 24%);
  -webkit-box-shadow: 0 2px 8px rgb(208 16 39 / 24%);
  border: none;
}

.theme_btn span {
  position: absolute;
  display: block;
  background: #b80e23;
  width: 44px;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 4px;
  overflow: hidden;
}

.theme_btn span:after,
.theme_btn span:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://www.sports.info/right-arrow.318a2f1f7fc52ec4ef47.svg)
    center center/14px auto no-repeat;
  transition: all 0.3s ease-in-out;
  transform: rotate(90deg);
}
