.footer {
  margin: 0 0 0 0;
  text-align: center;
  background-color: black;
  padding: 10px;
}

.footer p {
  margin: 5px 0;
  color: white;
}

.footer a {
  color: lightskyblue;
  text-decoration: none;
}

.footer ul {
  list-style: none;
  text-align: center;
  margin-left: -40px;
}

.footer ul li {
  display: inline;
  padding: 10px;
  text-align: center;
}
