.myCarasoul {
  position: relative;
  overflow: hidden;
  height: 680px;
  margin-top: -6px;
  background: top center/cover no-repeat #1b2a5a;
}

.inner_carasoul {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 26px;
  font-size: 16px;
  text-align: left;
}

.mainDes {
  background-color: white;
}

.cara_container {
  padding: 32px 0 16px 88px;
  max-width: 72.6%;
}

.myCarasoul::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(27, 42, 90, 0),
    rgba(27, 42, 90, 1)
  );
  z-index: 1;
}

.cara_container h1 {
  margin: 0 0 24px;
  font-size: 48px;
  line-height: 64px;
  font-family: Muli, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  color: white;
}

.author {
  color: #bec2cb;
  opacity: 1;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400;
}
.author a {
  color: #fff !important;
  margin-right: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.count_list {
  margin: 0;
  flex-shrink: 0;
  list-style: none;
}
.count_list li {
  display: inline-block;
}

.comment_white_icon {
  color: #bcc2cf;
  font-size: 16px;
  margin-top: 10px;
}

.count_list p:before {
  content: '';
  margin-right: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: center center/20px auto no-repeat;
  vertical-align: middle;
}

.description {
  margin-top: -30px;
  margin-bottom: -30px;
  margin-left: 350px;
  max-width: 960px;
  padding: 60px 30px;
  text-align: justify;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #3d3d3d;
  font-weight: 300;
  background-color: #fff;
}
.description p span {
  font-size: 18px;
  line-height: 28px;
}

.description strong {
  font-weight: bolder;
}

.description h2,
.description h3,
.description h4 {
  font-size: 20px;
  line-height: 25px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 800;
  color: #292929;
}

.space {
  padding-left: 5px;
}

@media (max-width: 1440px) {
  .count_list p:before {
    margin-right: -8px;
  }
  .mainDes {
    background-color: white;
  }
  .description {
    margin: -30px 0px -20px 120px;
    font-size: 16px;
    line-height: 26px;
    background-color: white;
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .count_list p:before {
    margin-right: -8px;
  }
  .cara_container h1 {
    margin: 0 0 8px;
    font-size: 36px;
    line-height: 50px;
  }
  .cara_container {
    padding: 32px 0 16px 0px;
    max-width: 90%;
  }
  .description {
    margin: -30px 0px -20px 20px;
    font-size: 16px;
    line-height: 26px;
    background-color: white;
    text-align: left;
  }
  .description p span {
    font-size: 16px;
    line-height: 26px;
  }
  .description h2,
  .description h3,
  .description h4 {
    font-size: 18px;
    line-height: 22px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 800;
    color: #292929;
  }
}

@media (max-width: 768px) {
  .myCarasoul {
    height: 430px;
    margin-top: 30px;
  }

  .count_list p:before {
    margin-right: -8px;
  }
  .cara_container h1 {
    margin: 0 0 8px;
    font-size: 36px;
    line-height: 50px;
  }
  .author {
    font-size: 14px;
    line-height: 20px;
  }
  .cara_container {
    padding: 32px 0 16px 0px;
    max-width: 96%;
  }
  .comment_white_icon {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .description {
    margin-left: 10px;
    overflow-x: scroll;
  }
  .author {
    font-size: 16px;
  }
  .space {
    font-size: 14px;
  }
  .description {
    margin: -30px 0 -20px -10px;
    font-size: 16px;
    line-height: 26px;
    overflow-x: scroll;
    text-align: left;
  }
  .description p span {
    font-size: 16px;
    line-height: 26px;
  }
  .description h2,
  .description h3,
  .description h4 {
    font-size: 18px;
    line-height: 22px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 800;
    color: #292929;
  }
}

@media (max-width: 425px) {
  .myCarasoul {
    height: 330px;
    margin-top: 20px;
  }
  .cara_container h1 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .count_list p:before {
    margin-right: -8px;
  }
  .cara_container {
    padding: 32px 0 16px 0px;
    max-width: 98%;
  }
  .description {
    margin: -30px 0 -20px -10px;
    font-size: 14px;
    line-height: 20px;
    overflow-x: scroll;
    text-align: left;
  }
  .description p span {
    font-size: 14px;
    line-height: 22px;
  }
  .description h2,
  .description h3,
  .description h4 {
    font-size: 17px;
    line-height: 22px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 800;
    color: #292929;
  }
}

@media (max-width: 375px) {
  .myCarasoul {
    height: 330px;
    margin-top: 20px;
  }
  .cara_container h1 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .author {
    font-size: 12px;
    line-height: 20px;
  }

  .count_list p:before {
    margin-right: -8px;
  }
  .cara_container {
    padding: 32px 0 16px 0px;
    max-width: 98%;
  }
  .comment_white_icon {
    font-size: 12px;
  }

  .space {
    padding-left: 2px;
  }
  .comment_white_icon {
    margin: 0;
  }

  .description {
    margin: -30px 0 -20px -10px;
    font-size: 14px;
    line-height: 20px;
    overflow-x: scroll;
    text-align: left;
  }

  .description p span {
    font-size: 14px;
    line-height: 22px;
  }
  .description h2,
  .description h3,
  .description h4 {
    font-size: 17px;
    line-height: 22px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 800;
    color: #292929;
  }
}

@media (max-width: 320px) {
  .myCarasoul {
    height: 350px;
  }
  .cara_container h1 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .author {
    font-size: 12px;
    line-height: 20px;
  }
  .cara_container {
    padding: 32px 0 16px 0px;
    max-width: 98%;
  }
  .comment_white_icon {
    font-size: 12px;
  }
  .description {
    margin-left: 0px;
    font-size: 14px;
    line-height: 20px;
    overflow-x: scroll;
  }
  .space {
    padding-left: 2px;
  }
  .comment_white_icon {
    margin: 0;
  }
  .count_list p:before {
    margin-right: -8px;
  }
  .description {
    margin: -30px 0 -20px -10px;
    font-size: 14px;
    text-align: left;
  }

  .description p span {
    font-size: 14px;
    line-height: 22px;
  }

  .description h2,
  .description h3,
  .description h4 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 17px;
    line-height: 22px;
    font-weight: 800;
  }
}
